#owaMeetNowButton_container {
	display: none;
}

#QrConnect_container {
	display: none;
}

#skype_container {
	display: none;
}

#owaNoteFeedButton_container {
	display: none;
}

#owaTimePanelBtn_container {
	display: none;
}

#owaWhatsNewBtn_container {
	display: none;
}

html[dir=ltr] ._3m1vczpYw71MBM0vWJJV5y {
	display: none;
}
